.btn {
    height: var(--app-button-size);
    pointer-events: all;
    cursor: pointer;

    &.rounded {
        width: var(--app-button-size);
        background: var(--bg-default);
        border-radius: var(--app-button-size);
        border: var(--app-border-size) solid var(--clr-secondary);

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 0.9rem;
        }
    }

    &.default {
        letter-spacing: 0.5px;
        text-transform: uppercase;
        background: var(--bg-default);
        border-radius: calc(var(--app-button-size) / 4);
        border: var(--app-border-size) solid var(--clr-primary);
        padding-inline: 1rem;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        gap: 0.5rem;
    }

    &.back {
        border-radius: var(--app-button-size) calc(var(--app-button-size) /4) calc(var(--app-button-size) /4) var(--app-button-size);
    }

    &.next {
        border-color: var(--clr-secondary);
        border-radius: calc(var(--app-button-size) /4) var(--app-button-size) var(--app-button-size) calc(var(--app-button-size) /4);
    }

    &.pulsate {
        animation: pulsate-shadow 1.25s cubic-bezier(0.6, 0, 0, 1) infinite;
    }

    &:not(:last-child) {
        margin-right: 0.5rem;
    }

    &:disabled {
        filter: grayscale(1);
        pointer-events: none;
        opacity: 0.4;
    }

    &:hover {

        &.default {
            background: var(--clr-primary);
        }

        &.rounded {
            background: var(--clr-secondary);
        }

        &.next {
            background: var(--clr-secondary);
        }

        &.pulsate {
            animation-duration: 0ms;
        }

    }

    &.pulsate:disabled {
        animation: none;
    }
}

a.btn.default {
    color: #fff;
    border-radius: var(--app-button-size);
    border-color: var(--clr-secondary);

    &:hover {
        background: var(--clr-secondary);
    }
}

[class*="icon"] {
    width: 1rem;
    max-height: 1rem;
}

.link {
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: var(--transition-duration) var(--transition-timing);

    [class*="icon"] {
        margin-right: 0.5rem;
    }

    &.dark {
        color: var(--bg-dark);
    }

    &.light {
        color: #fff
    }

    &.asset {
        color: #fff;
    }

    &:hover {

        &.dark {
            color: var(--clr-secondary);
        }

        &.light {
            color: var(--clr-secondary);
        }

        &.asset {
            opacity: 0.6;
        }
    }
}