.dialogue,
.open-question {
    .container {
        position: absolute;
        right: 0;
        bottom: 5rem;
        padding: var(--app-padding);
        width: 30vw;

        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
    }

    .content {
        display: flex;
        flex-flow: column nowrap;

        >*:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    .question {
        position: relative;
        pointer-events: all;
        background-color: var(--bg-with-opacity);
        border: var(--app-border-size) solid transparent;
        border-radius: calc(var(--app-padding) /2);
        padding: 0.5rem var(--app-padding);
        text-align: left;
        cursor: pointer;
        transition: var(--transition-duration) var(--transition-timing);

        p {
            font-size: 1.25rem;
        }

        &:hover {
            box-shadow: 0 0 10px 0 var(--clr-secondary);
            border-color: var(--clr-secondary);
            animation: none;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        &.current {
            box-shadow: 0 0 10px 0 var(--clr-secondary);
            border-color: var(--clr-secondary);
            animation: none;
        }

        &.visited:not(.current) {
            display: none;
        }
    }

    .question-textarea {
        pointer-events: all;
        resize: none;
        background-color: var(--bg-with-opacity);
        border: var(--app-border-size) solid var(--clr-secondary);
        border-radius: 1rem;
        color: #fff;
        padding: var(--app-padding);
        width: 100%;

        &::placeholder {
            color: #fff;
        }
    }
}