.dialogue,
.open-question {
    .container {
        position: absolute;
        right: 0;
        bottom: 5rem;
        padding: var(--app-padding);
        width: 30vw;

        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
    }

    .content {
        display: flex;
        flex-flow: column nowrap;

        >*:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    .question {
        position: relative;
        pointer-events: all;
        background-color: var(--bg-with-opacity);
        border: var(--app-border-size) solid var(--clr-secondary);
        border-radius: calc(var(--app-padding) /2);
        color: #fff;
        padding: 0.5rem var(--app-padding);
        text-align: left;
        cursor: pointer;
        transition: var(--transition-duration) var(--transition-timing);

        &:hover {
            background-color: var(--clr-secondary);
        }

        .current-icon {
            position: absolute;
            left: -2rem;
            top: 0.25rem;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color: var(--clr-secondary);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: var(--transition-duration) var(--transition-timing);
        }

        svg {
            width: 0.75rem;
        }


        &:not(.current).visited {
            background-color: var(--clr-secondary);
            opacity: 0.6;
        }

        &.current {
            box-shadow: 0 0 10px 0 var(--clr-secondary);

            .current-icon {
                opacity: 1;
            }
        }
    }

    .question-textarea {
        pointer-events: all;
        resize: none;
        background-color: var(--bg-with-opacity);
        border: var(--app-border-size) solid var(--clr-secondary);
        border-radius: 1rem;
        color: #fff;
        padding: var(--app-padding);

        &::placeholder {
            color: #fff;
        }
    }
}