.dialogue {
    .container {
        position: absolute;
        right: 0;
        bottom: 5rem;
        padding: var(--app-padding);
        width: 40vw;

        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
    }

    .content {
        display: flex;
        flex-flow: column nowrap;

        >*:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    .btn {
        margin-right: 0;
        height: 3rem;
        transition: opacity 1s ease;

        &.visited {
            background: var(--clr-primary);
            opacity: 0.5;
        }
    }
}