.game {
    .container {
        position: absolute;
        inset: 0;
        padding: var(--app-padding);

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        z-index: 20;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 12;
        width: 100%;
        height: 100%;
        background: var(--gradient-dark);
        opacity: 1;
        pointer-events: all;
        transition: .3s var(--transition-timing);
    }

    &-canvas {
        position: absolute;
        inset: 0;
        z-index: 19;
        pointer-events: all;
    }

    &-rounds {
        color: #fff;
        background-color: var(--bg-dark-color);
        position: relative;
        padding: 0.5rem var(--app-padding);
        border-radius: 0.5rem;
        border: var(--app-border-size) solid var(--clr-primary);
    }

    &-popup {
        position: relative;
        margin-bottom: 4rem;

        h1 {
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 1rem;
        }
    }

    &-notification {
        background-color: #fff;
        position: absolute;
        top: var(--app-padding);
        right: var(--app-padding);
        padding: var(--app-padding);
        border-radius: 1rem;
        width: 36ch;

        img {
            position: absolute;
            top: 0;
            right: calc(100% + 1rem);
            border-radius: 15px;
        }

        p {
            color: var(--clr-text);
        }
    }

    &.popup-visible {
        .container {
            justify-content: flex-end;
        }

        .game-rounds {
            display: none;
        }

        .game-canvas {
            pointer-events: none;
        }
    }
}

.heart-defense {
    .container {
        text-align: center;
    }

    .game-popup .buttons {
        display: flex;
    }
}

.flip-card {
    .container {
        justify-content: center;
    }

    .cards {
        display: flex;
        width: clamp(600px, calc(100vw - var(--app-padding)), 1440px);
    }

    .card {
        flex: 1;
        position: relative;
        pointer-events: all;
        padding: calc(var(--app-padding)/2);

        audio {
            display: none;
        }

        input {
            width: 100%;
            flex: 1;
            margin-left: 0.5rem;
            border: none;
            background-color: transparent;
            color: #fff;

            &::placeholder {
                color: #fff;
                text-transform: uppercase;
                transition: var(--transition-duration) var(--transition-timing);
            }

            &:focus-visible {
                outline: none;
            }

            &:focus-visible::placeholder {
                color: transparent;
            }
        }



        .icon {
            width: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-frame {
            position: absolute;
            inset: 0;
            opacity: 0;
            border: 0.25rem solid var(--clr-secondary);
            transition: var(--transition-duration) var(--transition-timing);
        }

        &-image {
            position: relative;
            aspect-ratio: 9/16;

            div {
                position: absolute;
                inset: 0;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }
        }

        &-input {
            color: #fff;
            background: var(--clr-primary);
            position: absolute;
            bottom: calc(var(--app-padding) + 8px);
            left: calc(var(--app-padding) + 8px);
            right: calc(var(--app-padding) + 8px);
            border-radius: 0.25rem;

            display: flex;
            align-items: center;
            padding: 0.5rem;

            &.wrong-code {
                animation-name: wrong-code;
                animation-duration: .25s;
                animation-iteration-count: 2;
            }

            @keyframes wrong-code {
                0% {
                    box-shadow: 0 0 0 0.25rem red;
                    transform: translate(0, 0) rotate(0deg);
                }

                25% {
                    transform: translate(5px, 5px) rotate(5deg);
                }

                50% {
                    transform: translate(0, 0) rotate(0eg);
                }

                75% {
                    box-shadow: 0 0 0 0 transparent;
                    transform: translate(-5px, 5px) rotate(-5deg);
                }

                100% {
                    box-shadow: 0 0 0 0.25rem red;
                    transform: translate(0, 0) rotate(0deg);
                }
            }
        }

        &:not([selected]):hover {
            img {
                box-shadow: 0 0 0 4px var(--clr-secondary);
            }

            .cardInput {
                opacity: 1;
            }

            .icon-volume-solid {
                opacity: 1;
            }
        }

        &.flipped {
            cursor: pointer;

            .card-input {
                display: none;
            }
        }

        &.selected {
            .card-frame {
                opacity: 1;
            }
        }
    }

    button {
        display: none;
        margin-top: 2rem;
    }

    &.all-flipped {
        button {
            display: inline-block;
        }
    }

    .skip {
        display: block;
        position: absolute;
        top: 0;
        right: 2rem;
    }
}

.davids-refuge {
    .container {
        justify-content: center;
    }

    .goats {
        display: flex;
    }

    .goat {
        --yellow: #e59e35;
        --yellow-shadow: #fcb04e;
        --blue: #2e63b9;
        --blue-shadow: #0396e3;
        --pink: #cb4287;
        --pink-shadow: #f75b99;

        position: relative;
        padding: 3rem;
        cursor: pointer;
        pointer-events: all;

        img {
            position: relative;
        }

        .circle {
            position: absolute;
            background-color: var(--bg-default);
            bottom: 0;
            left: 1.5rem;
            border-radius: 50%;
            width: calc(100% - 6rem);
            aspect-ratio: 1/1;
            cursor: pointer;
            transition: var(--transition-duration) var(--transition-timing);
        }

        .tooltip {
            position: absolute;
            top: -1rem;
            left: 50%;
            transform: translateX(-50%);
            color: #fff;
            border-radius: 1rem;
            padding: 0.5rem 1rem;
            margin-bottom: 1rem;
            z-index: 2;

            span {
                white-space: nowrap;
            }

            &::after {
                content: '';
                position: absolute;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                top: 100%;
                right: 2rem;
            }
        }

        [data-color='yellow'] {
            .tooltip {
                background-color: var(--yellow);
                box-shadow: -2px -2px 0 2px var(--yellow-shadow);
            }

            .tooltip::after {
                border-top: 10px solid var(--yellow);
            }

            &:hover .circle {
                box-shadow: 0 0 0 4px var(--yellow-shadow);
            }
        }

        [data-color='blue'] {
            .tooltip {
                background-color: var(--blue);
                box-shadow: -2px -2px 0 2px var(--blue-shadow);
            }

            .tooltip::after {
                border-top: 10px solid var(--blue);
            }

            &:hover .circle {
                box-shadow: 0 0 0 4px var(--blue-shadow);
            }
        }

        [data-color='pink'] {
            .tooltip {
                background-color: var(--pink);
                box-shadow: -2px -2px 0 2px var(--pink-shadow);
            }

            .tooltip::after {
                border-top: 10px solid var(--pink);
            }

            &:hover .circle {
                box-shadow: 0 0 0 4px var(--pink-shadow);
            }
        }
    }

    [aria-label="select goat"] {
        margin-top: 2rem;
    }

    [aria-label="toggle hints"] {
        position: absolute;
        top: var(--app-padding);
        left: var(--app-padding);
        z-index: 4;
    }

    .hints {
        position: absolute;
        top: calc(var(--app-padding) + 1rem);
        left: calc(var(--app-padding) + 1rem);
        width: 400px;
        background: var(--bg-with-opacity);
        border-radius: 1rem;
        padding: var(--app-padding);
        z-index: 3;

        h4 {
            color: #fff;
            letter-spacing: 5px;
            text-transform: uppercase;
            font-weight: bold;
            border-bottom: 1px solid #fff;
            opacity: 0.6;
            padding-bottom: 1rem;
        }

        ul {
            color: #fff;

            li {
                padding-block: 1rem;
                border-bottom: 1px solid rgba(#fff, .4);
            }

            li:last-child {
                border-bottom: none;
            }
        }
    }
}