.message,
.message-from-dialogue {
    .container {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: var(--app-padding);
        width: 60vw;
        pointer-events: all;
    }

    .content {
        border-radius: 1rem;
        padding: var(--app-padding) calc(var(--app-padding) * 1.5) calc(var(--app-padding) * 1.5);
        background: var(--bg-with-opacity);
        border: var(--app-border-size) solid var(--clr-primary);
    }

    h2 {
        font-family: var(--ff-secondary);
        color: var(--clr-secondary);
        text-transform: uppercase;
        font-style: italic;
    }

    p {
        color: #fff;
        font-size: 1.25rem;
        line-height: 1.5;
    }
}

#glitch-idle {
    width: 285px;
    position: absolute;
    top: -148px;
    border-radius: 1rem;
    border: var(--app-border-size) solid var(--clr-primary);
}