.modal {
    .container {
        position: absolute;
        inset: 0;
        padding: var(--app-padding);

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        z-index: 20;
        pointer-events: all;

        >div {
            text-align: center;
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 12;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        background: var(--gradient-dark);
        pointer-events: none;
    }

    header {
        color: var(--clr-secondary);
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.15rem;
        color: #fff;
    }

    .bibleCards {
        text-align: center;

        video {
            max-height: 50vh;
        }
    }

    .congrats {
        position: relative;
        text-align: center;

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 10rem;
            top: 0;
            aspect-ratio: 1/0.9;
            background: url('/static/svgs/congrats.svg');
            background-repeat: no-repeat;
            transform-origin: bottom;
            opacity: 0;
        }

        &::after {
            left: -10rem;
            transform: scaleX(-1) rotate(10deg);
            animation: bounce-left 1s cubic-bezier(0.215, 0.610, 0.355, 1) 1s 1 forwards;
        }

        &::before {
            right: -10rem;
            transform: rotate(-10deg);
            animation: bounce-right 1s cubic-bezier(0.215, 0.610, 0.355, 1) 1s 1 forwards;
        }
    }

}

@keyframes bounce-right {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: rotate(20deg);
    }

    70% {
        opacity: 1;
        transform: rotate(-10deg);
    }

    100% {
        opacity: 1;
        transform: rotate(10deg);
    }
}

@keyframes bounce-left {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: rotate(-20deg) scaleX(-1);
    }

    70% {
        opacity: 1;
        transform: rotate(10deg) scaleX(-1);
    }

    100% {
        opacity: 1;
        transform: rotate(-10deg) scaleX(-1);
    }
}