#multiple-choice {
    .container {
        position: absolute;
        right: 0;
        bottom: 5rem;
        padding: var(--app-padding);
        width: 45vw;

        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
    }

    .row {
        display: flex;
        flex-flow: row nowrap;

        >*:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    .multiple-choice-image {
        max-width: 200px;
        border-top-left-radius: calc(var(--app-padding) / 2);
        border-bottom-left-radius: calc(var(--app-padding) / 2);
    }

    .multiple-choice-answers {
        background-color: var(--bg-with-opacity);
        border-radius: calc(var(--app-padding) / 2);
    }
    
    .multiple-choice-answer {
        color: #fff;
        position: relative;
        pointer-events: all;
        border: var(--app-border-size) solid transparent;
        counter-increment: answers;
        transition: var(--transition-duration) var(--transition-timing);

        span {
            font-size: 1.25rem;
            line-height: 1.25rem;
            align-self: center;
        }

        input {
            position: absolute;
            width: 0;
            height: 0;
            opacity: 0;
            visibility: hidden;
        }

        .label {
            display: flex;
            position: relative;
            padding: var(--app-padding);
            cursor: pointer;
        }

        .label::before {
            content: counter(answers, upper-latin);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            color: #fff;
            background-color: var(--bg-default);
            border: 2px solid var(--clr-secondary);
            border-radius: 50%;
            margin-right: 1rem;
            flex-shrink: 0;
        }

        &.wrong {
            border-color: red;
        }

        &.correct {
            border-color: greenyellow;
        }

        &:hover {
            box-shadow: 0 0 10px 0 var(--clr-secondary);
            border-color: var(--clr-secondary);
            animation: none;
        }

        &:first-child {
            border-top-right-radius: calc(var(--app-padding) / 2);
        }

        &:last-child {
            border-bottom-left-radius: calc(var(--app-padding) / 2);
            border-bottom-right-radius: calc(var(--app-padding) / 2);
        }
    }
}