.progress-bar {
    position: absolute;
    right: 0;
    top: 50%;
    padding-inline: var(--app-padding);
    pointer-events: all;
    transform: translate(-100%, -50%);
    transition: var(--transition-duration) transform var(--transition-timing);

    .checkpoints {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        position: relative;
    }

    [aria-label="checkpoint"] {
        margin-right: 0;
    }

    [aria-label="checkpoint"]:not(:last-child) {
        margin-bottom: 1rem;
    }

    [aria-label="checkpoint"][currentCheckpoint] {
        background-color: var(--clr-secondary);
    }

    [aria-label="checkpoint"].locked {
        filter: grayscale(1);
    }

    .percentageBar {
        position: absolute;
        top: 1rem;
        left: 2rem;
        bottom: 1rem;
        width: 10px;
        background-color: var(--clr-background);
        box-shadow: 0 0 0 0.1rem var(--clr-secondary);

        .passed {
            float: left;
            width: 100%;
            height: attr(data-progress);
            background: var(--clr-secondary);
            transition: var(--transition-duration) width var(--transition-timing);
        }
    }

    &.is-visible {
        transform: translate(0, -50%);
    }

    .modal-on &,
    .freeze & {
        transform: translate(-100%, -50%);
    }
}