.task {
    .container {
        position: absolute;
        inset: 0;
        padding: var(--app-padding);
        pointer-events: all;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        z-index: 20;
    }

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .game-header {
        text-align: center;

        h2 {
            color: #fff;
        }
    }

    .game-tutorial {
        width: 80vw;
        max-height: 60vh;
        margin-block: 2rem;
    }

    .game-description {
        color: #fff;
        text-align: center;
        line-height: 1.5;

        >*:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    .btn {
        margin-top: 2rem;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 12;
        width: 100%;
        height: 100%;
        background: var(--gradient-dark);
        opacity: 1;
        pointer-events: none;
        transition: .3s var(--transition-timing);
    }


}