.tippy-box[data-theme~='explorers'] {
    color: var(--clr-text);
    font-size: 0.8rem;
    background-color: var(--clr-secondary);
    padding: 0.25rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem var(--clr-text);
}

.tippy-box[data-theme~='explorers'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: var(--clr-secondary);
}

.tippy-box[data-theme~='explorers'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: var(--clr-secondary);
}

.tippy-box[data-theme~='explorers'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: var(--clr-secondary);
}

.tippy-box[data-theme~='explorers'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: var(--clr-secondary);
}

.tippy-box[data-theme~='construction'] {
    color: var(--clr-text);
    font-size: 0.8rem;
    background-color: #f7d211;
    padding: 0.25rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem var(--clr-text);
}

.tippy-box[data-theme~='construction'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: #f7d211;
}

.tippy-box[data-theme~='construction'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: #f7d211;
}

.tippy-box[data-theme~='construction'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: #f7d211;
}

.tippy-box[data-theme~='construction'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: #f7d211;
}