.tippy-box[data-theme=explorers] {
    color: #fff;
    background-color: var(--clr-background);
    border: 0.25rem solid var(--clr-secondary);
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.7rem;
}