.code-unlock {
    .container {
        position: absolute;
        inset: 0;
        padding: var(--app-padding);

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        z-index: 20;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 12;
        width: 100%;
        height: 100%;
        background: var(--gradient-dark);
        pointer-events: none;
        transition: .3s var(--transition-timing);
    }

    &-device {
        width: clamp(300px, calc(100vw - var(--app-padding)), 600px);
        display: flex;
        flex-flow: column nowrap;
    }

    &-code {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5rem;

        border: var(--app-border-size) solid var(--clr-secondary);
        border-radius: 1rem;
        padding: 2rem var(--app-padding);

        div {
            color: var(--clr-secondary);
            font-size: 3rem;
            font-weight: bold;
            width: 3rem;
            height: 3rem;
            margin-inline: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    &-keyboard {
        display: flex;
        flex-wrap: wrap;
    }

    --key-spacing: 0.5rem;

    &-key {
        width: calc(calc(100% / 3) - calc(var(--key-spacing) * 2));
        aspect-ratio: 16/9;
        margin: var(--key-spacing);

        display: flex;
        align-items: center;
        justify-content: center;

        color: #fff;
        font-size: 2rem;
        font-weight: bold;
        border: var(--app-border-size) solid var(--clr-primary);
        border-radius: 1rem;
        cursor: pointer;
        pointer-events: all;
        transition: var(--transition-duration) var(--transition-timing);

        svg {
            display: inline-block;
            width: 2rem;
        }

        &:disabled {
            filter: grayscale(1);
            pointer-events: none;
            opacity: 0.4;
        }

        &:hover {
            background-color: var(--clr-primary);
        }
    }

    &.wrong-code {

        .code-unlock-code {
            animation: tilt-n-move-shaking var(--transition-duration) var(--transition-timing) both;
            border-color: red;
        }

        .code-unlock-code div {
            color: red;
        }
    }

    &.correct-code {

        .code-unlock-code {
            border-color: greenyellow;
        }

        .code-unlock-code div {
            color: greenyellow;
        }
    }

}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0) rotate(0eg);
    }

    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}