/* archivo-regular - latin */
@font-face {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../static/fonts/archivo/archivo-v9-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../static/fonts/archivo/archivo-v9-latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* archivo-italic - latin */
@font-face {
    font-family: "Archivo";
    font-style: italic;
    font-weight: 400;
    src: local(""), url("../static/fonts/archivo/archivo-v9-latin-italic.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../static/fonts/archivo/archivo-v9-latin-italic.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* archivo-700 - latin */
@font-face {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../static/fonts/archivo/archivo-v9-latin-700.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../static/fonts/archivo/archivo-v9-latin-700.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* archivo-700italic - latin */
@font-face {
    font-family: "Archivo";
    font-style: italic;
    font-weight: 700;
    src: local(""), url("../static/fonts/archivo/archivo-v9-latin-700italic.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../static/fonts/archivo/archivo-v9-latin-700italic.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


@font-face {
    font-family: 'PT Sans';
    src: url('../static/fonts/ptsans/subset-PTSans-Italic.eot');
    src: url('../static/fonts/ptsans/subset-PTSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../static/fonts/ptsans/subset-PTSans-Italic.woff2') format('woff2'),
        url('../static/fonts/ptsans/subset-PTSans-Italic.woff') format('woff'),
        url('../static/fonts/ptsans/subset-PTSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../static/fonts/ptsans/subset-PTSans-Bold.eot');
    src: url('../static/fonts/ptsans/subset-PTSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../static/fonts/ptsans/subset-PTSans-Bold.woff2') format('woff2'),
        url('../static/fonts/ptsans/subset-PTSans-Bold.woff') format('woff'),
        url('../static/fonts/ptsans/subset-PTSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../static/fonts/ptsans/subset-PTSans-Regular.eot');
    src: url('../static/fonts/ptsans/subset-PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../static/fonts/ptsans/subset-PTSans-Regular.woff2') format('woff2'),
        url('../static/fonts/ptsans/subset-PTSans-Regular.woff') format('woff'),
        url('../static/fonts/ptsans/subset-PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../static/fonts/ptsans/subset-PTSans-BoldItalic.eot');
    src: url('../static/fonts/ptsans/subset-PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../static/fonts/ptsans/subset-PTSans-BoldItalic.woff2') format('woff2'),
        url('../static/fonts/ptsans/subset-PTSans-BoldItalic.woff') format('woff'),
        url('../static/fonts/ptsans/subset-PTSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'BRLNSR';
    src: url('../static/fonts/berlinsansfb/BRLNSR.eot');
    src: local('BRLNSR'), url('../static/fonts/berlinsansfb/BRLNSR.woff') format('woff'), url('../static/fonts/berlinsansfb/BRLNSR.ttf') format('truetype');
}

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_12421">Text with this font applied</p> */
.fontsforweb_fontid_12421 {
    font-family: 'BRLNSR' !important;
}