/* archivo-200 - latin */
@font-face {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 200;
    src: local(""), url("../static/fonts/archivo/archivo-v9-latin-200.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../static/fonts/archivo/archivo-v9-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* archivo-regular - latin */
@font-face {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../static/fonts/archivo/archivo-v9-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../static/fonts/archivo/archivo-v9-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* archivo-700 - latin */
@font-face {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../static/fonts/archivo/archivo-v9-latin-700.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../static/fonts/archivo/archivo-v9-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* archivo-900 - latin */
@font-face {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 900;
    src: local(""), url("../static/fonts/archivo/archivo-v9-latin-900.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../static/fonts/archivo/archivo-v9-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* archivo-200italic - latin */
@font-face {
    font-family: "Archivo";
    font-style: italic;
    font-weight: 200;
    src: local(""), url("../static/fonts/archivo/archivo-v9-latin-200italic.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../static/fonts/archivo/archivo-v9-latin-200italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* archivo-italic - latin */
@font-face {
    font-family: "Archivo";
    font-style: italic;
    font-weight: 400;
    src: local(""), url("../static/fonts/archivo/archivo-v9-latin-italic.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../static/fonts/archivo/archivo-v9-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* archivo-700italic - latin */
@font-face {
    font-family: "Archivo";
    font-style: italic;
    font-weight: 700;
    src: local(""), url("../static/fonts/archivo/archivo-v9-latin-700italic.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../static/fonts/archivo/archivo-v9-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* archivo-900italic - latin */
@font-face {
    font-family: "Archivo";
    font-style: italic;
    font-weight: 900;
    src: local(""), url("../static/fonts/archivo/archivo-v9-latin-900italic.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../static/fonts/archivo/archivo-v9-latin-900italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-serif-200 - latin */
@font-face {
    font-family: "IBM Plex Serif";
    font-style: normal;
    font-weight: 200;
    src: local(""), url("../static/fonts/ibm-plex-serif/ibm-plex-serif-v14-latin-200.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../static/fonts/ibm-plex-serif/ibm-plex-serif-v14-latin-200.woff")
            format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-serif-200italic - latin */
@font-face {
    font-family: "IBM Plex Serif";
    font-style: italic;
    font-weight: 200;
    src: local(""), url("../static/fonts/ibm-plex-serif/ibm-plex-serif-v14-latin-200italic.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../static/fonts/ibm-plex-serif/ibm-plex-serif-v14-latin-200italic.woff")
            format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-serif-regular - latin */
@font-face {
    font-family: "IBM Plex Serif";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../static/fonts/ibm-plex-serif/ibm-plex-serif-v14-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../static/fonts/ibm-plex-serif/ibm-plex-serif-v14-latin-regular.woff")
            format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-serif-italic - latin */
@font-face {
    font-family: "IBM Plex Serif";
    font-style: italic;
    font-weight: 400;
    src: local(""), url("../static/fonts/ibm-plex-serif/ibm-plex-serif-v14-latin-italic.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../static/fonts/ibm-plex-serif/ibm-plex-serif-v14-latin-italic.woff")
            format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-serif-700 - latin */
@font-face {
    font-family: "IBM Plex Serif";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../static/fonts/ibm-plex-serif/ibm-plex-serif-v14-latin-700.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../static/fonts/ibm-plex-serif/ibm-plex-serif-v14-latin-700.woff")
            format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-serif-700italic - latin */
@font-face {
    font-family: "IBM Plex Serif";
    font-style: italic;
    font-weight: 700;
    src: local(""), url("../static/fonts/ibm-plex-serif/ibm-plex-serif-v14-latin-700italic.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../static/fonts/ibm-plex-serif/ibm-plex-serif-v14-latin-700italic.woff")
            format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
