* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
}

p {
    font-weight: bold;
    line-height: 1.5;
}

ul {
    margin-top: 1rem;
    list-style: none;
}
.video {
    aspect-ratio: 16/9;
}
iframe {
    position: relative;
    height: 100%;
    width: 100%;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    cursor: grab;
}

/* Sound */
.sound {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 50px;
    top: 50px;
    background-color: #0e005f;
    cursor: pointer;
}

.overlay {
    background: #39393990;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 1024px;
    height: 768px;
    background: #fff;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    margin: auto;
}

.screen__content {
    padding: 3rem;
    z-index: 2;
    position: relative;
}

.screen__content h2 {
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    z-index: 2;
}

/* Archive */
.archive {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 50px;
    bottom: 50px;
    background-color: #ff0256;
    cursor: pointer;
}

.archive__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 2fr;
}

.archive__list {
    margin: 0;
}
.archive__list li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.5;
}
.archive__list .visible,
.archive__list li:hover {
    background-color: beige;
}

.entry__content {
    display: none;
}
.entry__content.visible {
    display: block;
}
.entry__content h3 {
    margin-bottom: 1rem;
}

/* POI */
.point {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    gap: 1rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    color: whitesmoke;
}

.point:hover .text {
    opacity: 1;
    visibility: visible;
}

.point .dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: help;
}

.point .dot::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: whitesmoke;
}

.point .label {
    font-size: 1rem;
    font-weight: bold;
    cursor: help;
    text-shadow: 0 0 10px black;
}

.point .text {
    position: absolute;
    left: 2rem;
    width: 200px;
    top: 40px;
    font-weight: lighter;
    padding: 1rem;
    background: #00000077;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    pointer-events: none;
}

.point .label,
.point .dot {
    visibility: hidden;
    transform: scale(0, 0);
    transition: transform 0.3s ease-in-out;
}

.point.visible .label,
.point.visible .dot {
    visibility: visible;
    transform: scale(1, 1);
}

.loading-bar {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 4px;
    background: whitesmoke;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.4s ease-in-out;
    will-change: transform;
}

.loading-bar.ended {
    transform-origin: top right;
    transition: transform 1.5s ease-in-out;
}

/* Timer */
.timer {
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 1;
}

.timer__container {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: white;
}

.timer__part {
    font-size: 36px;
    font-weight: bold;
}

.timer__btn {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    color: white;
    cursor: pointer;
    transition: opacity ease 0.25s;
}

.timer .material-icons {
    font-size: 96px;
}

.timer__btn--start {
    background: #00b84c;
}
.timer__btn--start:hover {
    opacity: 0.9 !important;
}

.timer__btn--stop {
    background: #ff0256;
}
.timer__btn--stop:hover {
    opacity: 0.1 !important;
}

/* Code unlock */
.code-unlock {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 330px;
    height: 268px;
    font-size: 72px;
    font-weight: bold;
    font-family: "Courier New", monospace;
    background: #0b140f;
    padding: 12px;
    border-radius: 20px;
}

.code-unlock__container {
    border-radius: 7px;
    padding: 5px 5px 0;
    border: 1px solid gray;
}

.code-unlock__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.code-unlock__screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    color: #fff;
    margin-bottom: 5px;
    letter-spacing: 5px;
    position: relative;
}
.code-unlock__screen:before {
    content: "0000";
    color: #143520;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}
.code-unlock__input {
    width: 193px;
    text-align: left;
    z-index: 1;
    color: #369b59;
}

.code-unlock__btn {
    padding: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    border: none;
    color: #369b59;
    background: #143520;
    cursor: pointer;
    transition: opacity ease 0.25s;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.code-unlock__btn:nth-child(6n + 1) {
    margin-left: 0;
}
.code-unlock__btn--backspace {
    background: #a10035;
    color: #fff;
}
.code-unlock__btn--confirm {
    background: #298d51;
    color: #0b140f;
}

/* Camera */

#camera-vectors {
    position: absolute;
    top: 0;
    right: 0;
    background: grey;
    padding: 8px;
    color: white;
}
