:root {
    color-scheme: only light !important;
}

// #region General
* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    line-height: 1.5;
    &.freeze > *:not(#landing-screen):not(#sound) {
        pointer-events: none;
    }
}

ul {
    list-style: none;
}

.hidden {
    display: none;
}
// #endregion

// #region Canvas
.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    cursor: grab;
}

.debug-webgl {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    outline: none;
    z-index: 99;
}
// #endregion

// #region Interface
#sound {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 25px;
    top: 25px;
    background-color: #3f778d;
    border-radius: 50%;
    cursor: pointer;
    z-index: 4;
}

#go-home {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 25px;
    top: 25px;
    background-color: royalblue;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    display: none;
}

#info {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 25px;
    top: 25px;
    background-color: orange;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.timer {
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 2;

    .material-icons {
        font-size: 96px;
    }

    &__container {
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: white;
    }

    &__part {
        font-size: 36px;
        font-weight: bold;
    }

    &__btn {
        position: absolute;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: none;
        color: white;
        cursor: pointer;
        transition: opacity ease 0.25s;
    }

    &__btn--start {
        background: #00b84c;
        &:hover {
            opacity: 0.9 !important;
        }
    }

    &__btn--stop {
        background: #ff0256;
        &:hover {
            opacity: 0.1 !important;
        }
    }
}

#progress-bar {
    width: calc(100% - 50px - 50px - 200px);
    position: absolute;
    bottom: 86px;
    left: 75px;

    .progress-bar__steps {
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 3;
    }
    .progress-bar__step {
        width: 42px;
        height: 42px;
        background: #ff0256;
        position: absolute;
        z-index: 2;
        top: -10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: bold;
        font-size: 1.25rem;
        border: 1px solid #3f778d;
    }
    .progress-bar__step:not(:last-child) {
        cursor: pointer;
    }
    .progress-bar__percentage {
        height: 18px;
        width: 100%;
        border: 2px solid #3f778d;
        position: relative;
        z-index: 2;
    }
    .progress-bar__percentage .passed {
        float: left;
        height: 100%;
        background-color: #3f778d;
        transition: width 0.4s ease-in-out;
    }
}

// #endregion

// #region Components
#videos-container {
    position: absolute;
}

#landing-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    .menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }

    .button {
        border: 3px solid #fff;
        padding: 10px 30px;
        color: #fff;
        width: auto;
        font-size: 1.5rem;
        cursor: pointer;
        transition: 0.3s;
        min-width: 160px;
        text-align: center;
        margin: 10px 0;

        &:hover {
            background: #fff;
            color: #000;
        }
    }

    #congratulations {
        display: none;
        color: #fff;
        font-size: 30px;
        margin-bottom: 40px;
    }
}

.modal {
    &__overlay {
        background: #39393990;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    &__container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 1024px;
        height: 768px;
        background: #fff;
        display: grid;
        grid-auto-rows: minmax(min-content, max-content);
        margin: auto;
    }

    &__content {
        padding: 3rem;
        z-index: 2;
        position: relative;

        h2 {
            margin-bottom: 1rem;
        }
    }

    &__close {
        position: absolute;
        top: 3rem;
        right: 3rem;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
        z-index: 2;
    }
}

.archive {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 50px;
    bottom: 50px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
        background-size: contain;
        background-repeat: no-repeat;
        width: 50%;
        height: 50%;
    }

    &__container {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 2fr;
    }

    &__sidebar {
        margin: 0;

        li {
            margin: 0.5rem 0;
            padding: 0.5rem;
            cursor: pointer;
            transition: 0.5;
        }

        li:hover {
            background-color: beige;
        }

        &.visible {
            background-color: beige;
        }
    }
}

.entry {
    display: none;

    h3 {
        margin-bottom: 1rem;
    }

    &.visible {
        display: block;
    }
}

.tooltip {
    position: relative;
    background: #fff;
    width: 250px;
    right: 300px;
    padding: 15px;
    display: flex;

    &::after {
        content: "";
        position: absolute;
        right: -10px;
        top: 15px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 12px solid #fff;
        clear: both;
    }

    .tooltip__title {
        font-weight: bold;
        margin-right: 7.5px;
    }
}

.loading-bar {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 4px;
    background: whitesmoke;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.4s ease-in-out;
    will-change: transform;
    z-index: 4;
    &.ended {
        transform-origin: top right;
        transition: transform 1.5s ease-in-out;
    }
}

.video {
    .css3dobject {
        pointer-events: none;
        &.hide {
            display: none;
        }
    }

    &__controls,
    &__timeline {
        display: flex;
        width: 100%;
    }

    &__controlsBtn {
        color: #f1ebe5;
        cursor: pointer;
        pointer-events: all;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;
        font-size: 1.5rem;

        opacity: 0.9;
        transition: opacity ease 200ms;

        svg {
            display: none;
        }

        &:hover,
        &:focus,
        &:active {
            opacity: 1;
        }

        &[disabled] {
            opacity: 0.2;
            pointer-events: none !important;
        }

        &.hide {
            display: none !important;
        }
    }

    &__controlbar {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0) 100%);
        padding: 30px 40px;
        transition: opacity ease 300ms;
        position: absolute;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
        opacity: 0;
        pointer-events: none;

        &.show-controls {
            opacity: 1;
            pointer-events: all;
        }
    }

    &__overlay {
        bottom: -32px;
        display: block;
        pointer-events: none;
        position: absolute;
        transform: translateX(-50%);
        pointer-events: all;

        &.is-playing .fa-pause-solid {
            display: inline-block;
        }
        &.is-paused .fa-play-solid {
            display: inline-block;
        }
        &.is-muted .fa-volume-slash-solid {
            display: inline-block;
        }
    }

    &__overlay:not(.is-fullscreen) {
        .fa-expand-solid {
            display: inline-block;
        }
    }

    &__overlay:not(.is-muted) {
        .fa-volume-solid {
            display: inline-block;
        }
    }

    &__overlay:not(.in-frustum),
    &.hide {
        pointer-events: none !important;

        * {
            pointer-events: none !important;
        }

        .video__controlbar {
            opacity: 0 !important;
        }
    }

    &__controls > *:not(:last-child) {
        margin-right: 20px;
    }

    &__timetracker {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        font-size: 1.5rem;
        padding-left: 40px;
        padding-right: 40px;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
        user-select: none;
        color: #f1ebe5;
        align-self: center;
    }

    &__fullscreen {
        margin-left: auto;
    }

    &__timeline {
        height: 16px;
        margin-bottom: 20px;
        pointer-events: all;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 100%;
            height: 4px;
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    &__loadedbar,
    &__seekbar,
    &__progressbar {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        top: 50%;
        transform: translateY(-50%);
        width: 0%;
    }

    &__loadbar {
        background-color: rgba(255, 255, 255, 0.5);
        width: 0%;
    }

    &__seekbar {
        background-color: rgba(255, 255, 255, 0.7);
        width: 0%;
    }
    &__progressbar {
        background-color: #ff003b;
        width: 0%;
    }

    &__progress-button {
        background-color: #ff003b;
        border-radius: 50%;
        cursor: pointer;
        left: 0%;
        position: absolute;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
        transform-origin: center;
        width: 16px;
        height: 16px;
        z-index: 2;
    }
}
// #endregion

// #region MiniGames
.code-unlock {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 330px;
    height: 268px;
    font-size: 72px;
    font-weight: bold;
    font-family: "Courier New", monospace;
    background: #0b140f;
    padding: 12px;
    border-radius: 20px;

    &__container {
        border-radius: 7px;
        padding: 5px 5px 0;
        border: 1px solid gray;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    &__screen {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
        color: #fff;
        margin-bottom: 5px;
        letter-spacing: 5px;
        position: relative;
    }
    &__screen:before {
        content: "0000";
        color: #143520;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }
    &__input {
        width: 193px;
        text-align: left;
        z-index: 1;
        color: #369b59;
    }

    &__btn {
        padding: 10px;
        margin-left: 5px;
        margin-bottom: 5px;
        border: none;
        color: #369b59;
        background: #143520;
        cursor: pointer;
        transition: opacity ease 0.25s;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__btn:nth-child(6n + 1) {
        margin-left: 0;
    }
    &__btn--backspace {
        background: #a10035;
        color: #fff;
    }
    &__btn--confirm {
        background: #298d51;
        color: #0b140f;
    }
}
// #endregion

