// @import "./btvplayer/video-js.min.scss";
// @import "./btvplayer/videojs-brunstadtv-skin.scss";

@import "./icons.scss";
@import "./fonts.scss";


:root {
    color-scheme: only light !important;
}

// #region Colors
$primary: #3E306D;
$accent: #0396e3;
$dark: #131A43;
$gradient: linear-gradient(90deg, $dark, $primary);

$radius: 12px;

$archivo-regular: "Archivo",
sans-serif;

// #endregion

@mixin icon($name) {
    @extend [class^="icon-"];
    @extend [class*=" icon-"];
    font-size: 0;
    color: #fff;

    @extend #{"." + $name};

    &::before {
        font-size: 1.2rem;
    }
}

@mixin setBackground($name) {
    background-image: url($name);
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin alignCenterVH() {
    display: flex;
    align-items: center;
    justify-content: center;
}

// #region General
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
}

body {
    font-family: $archivo-regular;
    font-size: 16px;
    line-height: 1.5;
    color: $dark;
}

ul {
    list-style: none;
}

.hidden {
    display: none;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.125rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    margin-bottom: 1rem;
}

img {
    display: block;
    max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

button,
input {
    /* 1 */
    overflow: visible;
}

button,
select {
    /* 1 */
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: none;
    background-color: transparent;
}

// #endregion

// #region Canvas
.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    cursor: grab;
}

.debug-webgl {
    display: none;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    outline: none;
    z-index: 99;
}

// #endregion

// #region Interface
.timer {
    position: absolute;
    left: 3rem;
    top: 3rem;
    z-index: 7;

    &__container {
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        @include setBackground('../static/svgs/button_round.svg');
        @include alignCenterVH();
        color: #fff;
    }

    &__part {
        font-size: 30px;
        font-weight: bold;
    }
}

.progress-bar {
    width: calc(100% - 6rem - 96px);
    position: absolute;
    bottom: calc(3rem + 20px);
    left: calc(3rem + 32px);

    .modal-on &,
    .freeze & {
        display: none;
    }

    &__steps {
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 3;
    }

    &__step {
        position: absolute;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        top: -1.25rem;
        z-index: 2;

        color: #fff;
        font-weight: bold;
        font-size: 1.2rem;

        @include setBackground('../static/svgs/button_round.svg');
        @include alignCenterVH();

        &.locked {
            @include icon(icon-lock-solid);
            filter: grayscale(1);
        }

        &:last-child {
            @include icon(icon-star-solid);
        }
    }

    &__step:not(:last-child) {
        cursor: pointer;
    }

    &__percentage {
        height: 1.25rem;
        width: 100%;
        background-color: #fff;
        border: 2px solid $accent;
        position: relative;
        z-index: 2;

        .passed {
            float: left;
            height: 100%;
            top: -10px;
            background-image: $gradient;
            transition: width 0.4s ease-in-out;
        }
    }
}

// #endregion

// #region Components
#videos-container {
    position: absolute;
    width: 1920px;
    height: 1080px;
    z-index: -1;

    .vjs-control-bar {
        display: none;
    }
}

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding-left: 3rem;
    padding-top: 3rem;
    padding-right: 3rem;

    .btn {
        position: relative;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1;
        margin-right: 15px;
        @include alignCenterVH();
        @include setBackground('../static/svgs/button_round.svg');

    }

    #go-home {
        @include icon(icon-house-solid);
        margin-right: auto;

        .modal-on &,
        .freeze & {
            opacity: 0;
        }
    }

    #sound {
        @include icon(icon-volume-slash-solid);
        z-index: 5;

        &.sound-on {
            @include icon(icon-volume-solid);
        }

        .modal-on & {
            display: none;
        }
    }

    #info {
        position: relative;
        border-radius: 50%;
        cursor: pointer;

        @include icon(icon-question-solid);

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include alignCenterVH();
            @include setBackground('../static/svgs/button_round.svg');
            z-index: 1;
        }

        .modal-on &,
        .freeze & {
            display: none;
        }
    }

    #archive {
        @include icon(icon-list-solid);
        gap: 2rem;

        &__icon {
            background-size: contain;
            background-repeat: no-repeat;
            width: 50%;
            height: 50%;
        }

        .modal-on &,
        .freeze & {
            display: none;
        }
    }

    #settings {
        @include icon(icon-gear-solid);
        z-index: 5;
        margin-right: 0;

        .modal-on & {
            display: none;
        }
    }
}

#landing-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3rem;
    z-index: 4;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    body:not(.freeze) & {
        display: none;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $gradient;
        opacity: 0.8;
        z-index: -1;
    }

    #menu {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        display: none;
    }

    #introduction {
        color: #fff;
        font-size: 1.25rem;
    }

    .button {
        @include setBackground('../static/svgs/button_long.svg');
        color: #fff;
        width: 238px;
        font-size: 1.5rem;
        line-height: 4rem;
        cursor: pointer;
        transition: 0.3s;
        text-align: center;
    }

    .logo {
        width: 500px;
        height: 140px;
        @include setBackground('../static/svgs/bible-kids-logo.svg');
    }

}

#chapters {
    display: none;
    align-items: center;
    grid-auto-rows: minmax(min-content, max-content);
    gap: 3rem;

    h1 {
        color: #fff;
    }

    .back.button {
        display: none;
    }
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.category {
    margin-right: 1rem;
    padding: 2rem 1rem;
    border-radius: $radius;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 5rem;
    border: 2px solid #fff;

    &.selected {
        border: 4px solid $accent;
    }
}

.episodes {
    gap: 2rem;
}

.episode {
    display: flex;
    align-items: flex-end;
    height: 172px;
    cursor: pointer;


    &__number {
        @include setBackground('../static/svgs/episode_number.svg');
        width: 110px;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2rem;

        color: #fff;
        font-size: 2.5rem;
        font-weight: bold;
    }

    &__thumbnail {
        position: relative;
        margin-left: -1px;
        @include setBackground('../static/svgs/episode_image.svg');
        width: 873px;
        height: 100%;

        display: flex;
        align-items: center;
        padding-bottom: 2rem;
        padding-left: 4rem;

        img {
            display: none;
        }
    }

    &__icon {
        position: absolute;
        right: 4rem;
        bottom: 1.5rem;

        width: 6rem;
        height: 6rem;
        @include setBackground('../static/svgs/button_round.svg');
        @include alignCenterVH();

        i {
            color: #fff;
            font-size: 2rem;
        }

        .icon {
            display: none;
        }

        .icon-play-solid {
            display: inline-block;
            margin-left: 2px;
        }

        .episode.locked & {
            .icon-lock-solid {
                display: inline-block;
            }

            .icon-play-solid {
                display: none;
            }
        }

        .episode.download & {
            .icon-download-solid {
                display: inline-block;
            }

            .icon-play-solid {
                display: none;
            }
        }

    }

    &__heading {
        display: flex;
        flex-direction: column;
    }

    &__title {
        color: #fff;
        font-size: 2.5rem;
        font-weight: bold;
    }

    &__completed {
        display: none;
        text-transform: none;
        color: #fff;
        font-size: 1rem;
        opacity: 0.6;
    }

    &__actions {
        @include setBackground('../static/svgs/episode_actions.svg');
        width: 295px;
        height: 146px;
        margin-left: 0.5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        padding: 0 2rem;

        opacity: 0;
        visibility: hidden;
        transform: scaleX(0);
        transform-origin: left center;
        transition: opacity .4s linear, transform .4s linear;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

        >div {
            background-color: $primary;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            border-radius: 1rem;
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: 0.5px;
            padding: 0.75rem 1rem;
            display: none;
            opacity: 0;
            transition: opacity .2s ease-in;
            transition-delay: .4s;

            &:hover {
                background-color: $accent;
            }
        }

        &.visible {
            opacity: 1;
            visibility: visible;
            transform: scaleX(1);

            >div {
                opacity: 1;
            }
        }
    }

}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    padding: 2rem;
    display: grid;
    align-items: center;
    justify-content: center;

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: $gradient;
        opacity: 0.8;
    }

    &__close {
        position: absolute;
        top: 3rem;
        right: 3rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1;
        @include setBackground('../static/svgs/button_round.svg');
        @include alignCenterVH();
        @include icon(icon-xmark-solid);
    }

    &__container {
        position: relative;
        max-width: 1440px;
        z-index: 2;
    }

    &__content {
        z-index: 2;
        position: relative;
        display: grid;

        &.archive {
            grid-template-columns: 364px 2fr;

            i {
                @include icon(icon-list-solid);
            }
        }

        &.settings i {
            @include icon(icon-gear-solid);
        }

        &.code-unlock i {
            @include icon(icon-star-solid);
        }

        &.task i {
            @include icon(icon-question-solid);
        }

        &.questions i {
            @include icon(icon-question-solid);
        }
    }

    &__footer {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .btn {
            cursor: pointer;

            &.disabled {
                pointer-events: none;
                opacity: 0.2;
                filter: grayscale(1);
            }
        }

        .btn__prev,
        .btn__next {
            display: flex;
            align-items: center;
            justify-content: center;
            @include setBackground('../static/svgs/button_round.svg');
            width: 4rem;
            height: 4rem;
        }

        .btn__prev {
            margin-right: auto;
            @include icon(icon-arrow-left-long-solid)
        }

        .btn__next {
            margin-left: auto;
            @include icon(icon-arrow-right-long-solid)
        }

        &.hide-nav {

            .btn__prev,
            .btn__next {
                display: none;
            }

            .btn__submit {
                display: block;
            }
        }
    }
}

.heading {
    position: relative;
    margin-bottom: 1rem;
    padding-left: 4.4rem;
    height: 160px;
    @include setBackground('../static/svgs/heading.svg');

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;

    h2,
    h3 {
        color: #fff;
        text-align: center;
    }

    .icon {
        position: absolute;
        left: 1.4rem;
        top: 1.4rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        @include setBackground('../static/svgs/button_round.svg');

        display: flex;
        align-items: center;
        justify-content: center;


        i {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            z-index: 1;
        }
    }
}

.question {
    display: none;

    &__title {
        margin-bottom: 10px;
    }

    &__textarea {
        width: 100%;
        padding: 10px;
    }

    &.visible {
        display: block;
    }
}

#get-task,
#submit-task {
    cursor: pointer;
    transition: 0.3s;

    width: 213px;
    line-height: 3rem;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    @include setBackground('../static/svgs/button_long.svg');
}

.tooltip {
    min-height: 0;
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: flex;
    padding: 15px;
    font-size: 1rem;
    width: 240px;
    min-height: 3rem;
    @include setBackground('../static/svgs/button_long.svg');
    background-size: 100% 100%;
    font-family: 'Archivo', sans-serif;

    &__title {
        font-weight: bold;
        margin-right: 7.5px;
    }

}

.loading-bar {
    position: absolute;
    top: 50%;
    width: 0%;
    height: 4px;
    background: whitesmoke;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.4s ease-in-out;
    will-change: transform;
    z-index: 4;

    &.ended {
        transform-origin: top right;
        transition: transform 1.5s ease-in-out;
    }
}

.video {
    .css3dobject {
        pointer-events: none;

        &.hide {
            display: none;
        }
    }

    &__play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 7rem;
        height: 7rem;
        @include setBackground('../static/svgs/button_round.svg');
        @include alignCenterVH();
        cursor: pointer;

        i {
            margin-left: 2px;
            color: #fff;
            font-size: 2rem;
        }
    }

    &__controls,
    &__timeline {
        display: flex;
        width: 100%;
    }

    &__controlsBtn {
        color: #f1ebe5;
        cursor: pointer;
        pointer-events: all;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;

        opacity: 0.9;
        transition: opacity ease 200ms;

        i {
            display: none;
        }

        &:hover,
        &:focus,
        &:active {
            opacity: 1;
        }

        &[disabled] {
            opacity: 0.2;
            pointer-events: none !important;
        }

        &.hide {
            display: none !important;
        }
    }

    &__controlbar {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0) 100%);
        padding: 30px 40px;
        transition: opacity ease 300ms;
        position: absolute;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
        opacity: 0;
        pointer-events: none;

        &.show-controls {
            opacity: 1;
            pointer-events: all;
        }

        &.hide {
            display: none;
        }
    }

    &__overlay {
        bottom: 0;
        display: block;
        pointer-events: none;
        position: absolute;
        transform: translateX(-50%);
        pointer-events: all;
        border-radius: 15px;
        overflow: hidden;


        &.is-playing .icon-pause-solid {
            display: inline-block;
        }

        &.is-paused .icon-play-solid {
            display: inline-block;
        }

        &.is-muted .icon-volume-slash-solid {
            display: inline-block;
        }
    }

    &__overlay:not(.is-fullscreen) {
        .icon-expand-solid {
            display: inline-block;
        }
    }

    &__overlay:not(.is-muted) {
        .icon-volume-solid {
            display: inline-block;
        }
    }

    &__overlay:not(.in-frustum),
    &.hide {
        pointer-events: none !important;

        * {
            pointer-events: none !important;
        }

        .video__play {
            opacity: 0;
        }

        .video__controlbar {
            opacity: 0 !important;
        }
    }

    &__overlay.is-playing {
        .video__play {
            display: none;
        }
    }

    &__controls>*:not(:last-child) {
        margin-right: 20px;
    }

    &__timetracker {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        font-size: 1.5rem;
        padding-left: 40px;
        padding-right: 40px;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
        user-select: none;
        color: #f1ebe5;
        align-self: center;
    }

    &__fullscreen {
        margin-left: auto;
    }

    &__timeline {
        height: 16px;
        margin-bottom: 20px;
        pointer-events: all;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 100%;
            height: 4px;
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    &__loadedbar,
    &__seekbar,
    &__progressbar {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        top: 50%;
        transform: translateY(-50%);
        width: 0%;
    }

    &__loadbar {
        background-color: rgba(255, 255, 255, 0.5);
        width: 0%;
    }

    &__seekbar {
        background-color: rgba(255, 255, 255, 0.7);
        width: 0%;
    }

    &__progressbar {
        background-color: #ff003b;
        width: 0%;
    }

    &__progress-button {
        background-color: #ff003b;
        border-radius: 50%;
        cursor: pointer;
        left: 0%;
        position: absolute;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
        transform-origin: center;
        width: 16px;
        height: 16px;
        z-index: 2;
    }
}

.settings {
    width: 364px;

    &__header {
        height: 160px;
        @include setBackground('../static/svgs/heading.svg');
    }

    &__content {
        height: 310px;
        padding: 2rem 1.5rem 2rem 3rem;
        @include setBackground('../static/svgs/settings_background.svg');

        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__item {
        display: flex;
        align-items: center;
        background-color: #3E306D;
        border-radius: 1rem;
        padding: 1rem 2rem;

        *:nth-child(2) {
            margin-left: auto;
        }

        p {
            font-size: 1.2rem;
            color: #fff;
            margin-bottom: 0;
        }
    }

    &__footer {
        position: absolute;
        top: calc(100% + 1.25rem);
        left: 0;
        right: 0;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        button {
            border: none;
            line-height: 3rem;
            font-size: 1.2rem;
            color: #fff;
            cursor: pointer;
            @include setBackground('../static/svgs/button_long.svg');

            &:disabled {
                cursor: default;
                opacity: 0.2;
            }
        }
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }

        input:checked+.slider {
            background-color: #2196f3;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #2196f3;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    }

    .language {
        .language__picker {
            position: relative;
        }

        .language__current {
            font-size: 1.2rem;
            height: 2rem;
            padding: 0 1rem;
            line-height: 2rem;
            border: 1px solid rgba($dark, 0.2);
            border-radius: 4px;
            color: #fff;
        }

        .language__list {
            position: absolute;
            top: 3rem;
            right: 0;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.2);
        }


        .language__list.hide {
            display: none;
        }
    }

}

.archive {
    &__sidebar {
        grid-column: span 1/2;
        height: 498px;
        padding: 2rem 1.5rem 2rem 3rem;
        @include setBackground('../static/svgs/archive_sidebar.svg');

        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        li {
            padding: 1rem 2rem;
            color: #fff;
            border-radius: 1rem;
            cursor: pointer;
        }

        li.visible {
            background-color: #3E306D;
        }
    }

    &__content {
        margin-left: 2rem;
        height: 498px;
        padding: 2rem 6rem;
        @include setBackground('../static/svgs/archive_content.svg');
    }
}

.fact {
    display: none;

    &.visible {
        display: block;
    }

    &__content {
        display: grid;
    }

    &__title {
        position: sticky;
        top: 0;
        color: #fff;
    }

    &__description {
        color: #fff;
        margin-top: 1rem;
        height: 300px;
        overflow-y: auto;

        --scrollbar-width: 0.5rem;
        --mask-height: 2rem;

        padding-top: var(--mask-height);
        padding-bottom: var(--mask-height);
        padding-right: 1rem;

        --mask-image-content: linear-gradient(to bottom,
                transparent,
                white var(--mask-height),
                white calc(100% - var(--mask-height)),
                transparent);

        --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
        --mask-image-scrollbar: linear-gradient(white, white);
        --mask-size-scrollbar: var(--scrollbar-width) 100%;

        mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
        mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

        mask-position: 0 0, 100% 0;
        mask-repeat: no-repeat, no-repeat;

        scrollbar-width: thin;
        scrollbar-color: $primary transparent;

        &::-webkit-scrollbar-thumb {
            background-color: $primary;
            border-radius: 9999px;
            /* always round */
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        // https://pqina.nl/blog/fade-out-overflow-using-css-mask-image/

        p {
            font-weight: 300;
            letter-spacing: 1.5px;
        }
    }
}

.task {
    width: 364px;

    &__header {
        height: 160px;
        @include setBackground('../static/svgs/heading.svg');
    }


    &__content {
        height: 310px;
        padding: 2rem 1.5rem 2rem 3rem;
        @include setBackground('../static/svgs/settings_background.svg');
        color: #fff;
        margin-bottom: 1rem;
    }
}

.questions {
    width: 364px;

    &__header {
        height: 160px;
        @include setBackground('../static/svgs/heading.svg');
    }


    &__content {
        min-height: 310px;
        padding: 2rem 1.5rem 2.5rem 3rem;
        @include setBackground('../static/svgs/settings_background.svg');
        color: #fff;
        margin-bottom: 1rem;
    }
}

.label {
    color: #fff;
    background: $gradient;
    padding: 0.5rem 1rem;
    border: 2px solid $accent;
    border-radius: 8px 16px;

    &::after {
        content: '';
        position: absolute;
        left: 2px;
        top: -12px;
        background: $accent;
        width: 40%;
        height: 8px;
        border-radius: 2px 6px;
    }
}

// #endregion

// #region MiniGames
.code-unlock {
    width: 364px;

    &__header {
        height: 160px;
        @include setBackground('../static/svgs/heading.svg');
    }

    &__container {
        border-radius: 7px;
        padding: 5px 5px 0;
        border: 2px solid $accent;
        background: $gradient;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    &__screen {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
        font-size: 72px;
        font-weight: bold;
        font-family: "Courier New", monospace;
        color: #fff;
        margin-bottom: 5px;
        letter-spacing: 5px;
        position: relative;
    }

    &__screen:before {
        content: "0000";
        color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        opacity: 0.05;
    }

    &__input {
        width: 193px;
        text-align: left;
        z-index: 1;
        color: $accent;
    }

    &__btn {
        padding: 10px;
        margin-left: 5px;
        margin-bottom: 5px;
        border: none;
        color: #fff;
        background: #23307a;
        cursor: pointer;
        transition: opacity ease 0.25s;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn:nth-child(6n + 1) {
        margin-left: 0;
    }

    &__btn--backspace {
        background: lightcoral;
        color: #fff;
    }

    &__btn--confirm {
        background: lime;
        color: #fff;
    }
}

// #endregion