:root {
    color-scheme: only light !important;
}

@import "./globals/variables.scss";
@import "./globals/mixins.scss";
@import "./globals/main.scss";

@import "./components/Buttons.scss";
@import "./components/Header.scss";
@import "./components/SideModal.scss";
@import "./components/Menu.scss";
@import "./components/Page.scss";
@import "./components/Chapter.scss";
@import "./components/Tooltip.scss";
@import "./components/Modal.scss";
@import "./components/ProgressBar.scss";
@import "./components/Message.scss";
@import "./components/Dialogue.scss";
@import "./components/Task.scss";
@import "./components/Game.scss";
@import "./components/Unlock.scss";
@import "./components/Quiz.scss";

#videos-container {
    position: absolute;
    inset: 0;
    aspect-ratio: 16/9;
    z-index: -1;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    cursor: grab;
}

.cta {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 22;
    padding: var(--app-padding);
    display: none;
}

.categories {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn:not(:first-child) {
        margin-left: 16px;
    }
}

.ui-container {
    position: fixed;
    z-index: 10;
    inset: 0;
    pointer-events: none;
}

.pause {
    .container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 6;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        background: var(--gradient-dark);
        transition: .3s var(--transition-timing);
    }

    span {
        color: var(--clr-secondary);
        font-size: 2rem;
        font-weight: bold;
    }

    p {
        color: #fff;
        font-size: 1.5rem;
        margin-block: 1rem;
        max-width: 42ch;
    }
}

.highlight-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    @include pulsate()
}

#deskWidgetMain {
    top: 5rem;
    right: var(--app-padding);
    left: auto;

    .widget-toggle-row {
        display: none;
    }

    .widget-iframe-hold {
        top: 0;

        &::after {
            display: none;
        }
    }
}

.pointer-events-none {
    pointer-events: none;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.not-available {
    color: var(--clr-secondary);
    font-weight: bold;
}

#miniGame__simon-says {
    display: flex;

    &.active {
        cursor: pointer;
    }

    .note {
        position: relative;
        width: 200px;
        height: 200px;
        transition: .3s ease;
        z-index: 2;
    }

    .note::before {
        content: '';
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
    }

    .note[data-id="0"] {
        border-bottom-right-radius: 3rem;
        border-top-left-radius: 1rem;
    }

    .note[data-id="0"]::before {
        border-bottom-right-radius: 3rem;
        border-top-left-radius: 1rem;
    }

    .note[data-id="1"] {
        border-bottom-left-radius: 3rem;
        border-top-right-radius: 1rem;
    }

    .note[data-id="1"]::before {
        border-bottom-left-radius: 3rem;
        border-top-right-radius: 1rem;
    }

    .note[data-id="2"] {
        border-top-right-radius: 3rem;
        border-bottom-left-radius: 1rem;
    }

    .note[data-id="2"]::before {
        border-top-right-radius: 3rem;
        border-bottom-left-radius: 1rem;
    }

    .note[data-id="3"] {
        border-top-left-radius: 3rem;
        border-bottom-right-radius: 1rem;
    }

    .note[data-id="3"]::before {
        border-top-left-radius: 3rem;
        border-bottom-right-radius: 1rem;
    }

    .lighten {
        filter: brightness(1.25);
        box-shadow: inset 0 0 8px 8px #fff;
    }

    .frame {
        position: relative;
        border: 5px solid var(--clr-primary);
        border-radius: 1rem;
        padding: 4rem 8rem;
        background: var(--gradient-dark);
        overflow: hidden;
    }

    .watch {
        position: relative;
        background: #000;
        width: 100%;
        margin-inline: auto;
        gap: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
        border-radius: 2rem;
        box-shadow: 0 0 0 1rem #666;
    }

    .watch-center {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        pointer-events: none;
    }

    .watch-center::before,
    .watch-center::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .watch-center::before {
        background: #000;
        top: -46px;
        left: -46px;
        box-shadow:
            0 92px 0 0 #000,
            92px 0 0 #000,
            92px 92px 0 #000;
    }

    .watch-middle {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 4rem;
        right: 4rem;
    }

    .watch-ticker {
        position: relative;
        padding: 1rem;
        background: #666;
        border-radius: 1rem;
        display: flex;
        z-index: 1;
    }

    .watch-ticker .column {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .watch-ticker--right {
        margin-left: auto;
    }

    .watch-tick {
        position: relative;
        width: 1.75rem;
        height: 1.75rem;
        background: #000;
        border-radius: 50%;
    }

    .watch-tick.done {
        background: #39b54a;
        box-shadow: 0 0 4px 2px #bbeac0;
    }

    .watch-cables {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .cable {
        position: absolute;
    }

    .cable[data-item="0"] {
        left: -127px;
        top: -38px;
        width: 180px;
        height: 80px;
        background: url('../../static/games/simon/wire1.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .cable[data-item="1"] {
        left: -119px;
        top: 25px;
        width: 180px;
        height: 60px;
        background: url('../../static/games/simon/wire2.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .cable[data-item="2"] {
        left: -117px;
        top: 83px;
        width: 180px;
        height: 46px;
        background: url('../../static/games/simon/wire3.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .cable[data-item="3"] {
        left: -129px;
        top: 144px;
        width: 180px;
        height: 70px;
        background: url('../../static/games/simon/wire4.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .cable[data-item="4"] {
        right: -114px;
        top: 3px;
        width: 168px;
        height: 45px;
        background: url('../../static/games/simon/wire5.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .cable[data-item="5"] {
        right: -122px;
        top: 59px;
        width: 180px;
        height: 55px;
        background: url('../../static/games/simon/wire6.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .cable[data-item="6"] {
        right: -107px;
        top: 105px;
        width: 180px;
        height: 41px;
        background: url('../../static/games/simon/wire7.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .cable[data-item="7"] {
        right: -118px;
        top: 151px;
        width: 180px;
        height: 75px;
        background: url('../../static/games/simon/wire8.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

#sort-game {
    width: 1600px;
    height: 800px;
}

.modal__picture-and-code .circle {
    position: absolute;
    width: 6rem;
    height: 6rem;
    margin-top: -3rem;
    margin-left: -3rem;
    border: 10px solid var(--bg-default);
    border-radius: 50%;
    z-index: 9999;
    cursor: grab;
    transition: .4s ease;

    &:hover {
        border: 10px solid var(--clr-secondary);
    }
}

.img-loader {
    display: inline-block;
    z-index: -1;

    &:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

}

img.lazyloaded~div.img-loader {
    display: none;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.skip-video {
    font-size: 1rem;
    right: var(--app-padding);
    top: var(--app-padding);
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
}

.skip-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 9999;

    button {
        display: block;
        background-color: var(--clr-text);
        width: 2.5rem;
        height: 2.5rem;
        border: none;
        z-index: 99;
        pointer-events: all;
        cursor: pointer;

        &[disabled] {
            opacity: 0.2;
            pointer-events: none;
        }
    }

    button:nth-child(1) {
        margin-bottom: 4px;
    }

    button svg {
        pointer-events: none;
    }

    button:hover {
        background-color: var(--clr-secondary);
    }

}


button[aria-label="skip-button"] {
    position: absolute;
    top: var(--app-padding);
    right: var(--app-padding);
}

.chapter-progress {
    display: flex;
    justify-content: center;

    .bar {
        position: fixed;
        bottom: 10rem;
    }

    progress {
        -webkit-appearance: none;
        appearance: none;
        position: absolute;
        top: 0.5rem;
        left: 0;
        width: 100%;
        height: 2rem;
        border: 2px solid var(--clr-secondary);
        padding: 2px;
        border-radius: 2rem;
    }

    progress::-webkit-progress-bar {
        background-color: rgba(255, 255, 255, .2);
        border-radius: 2rem;
        overflow: hidden;
    }

    progress::-webkit-progress-value {
        background-color: var(--clr-primary);
        transition: filter 300ms, width 300ms;
    }

    svg {
        float: right;
        height: 3rem;
        filter: drop-shadow(0 0 10px var(--clr-text));
    }

    ul {
        position: relative;
        display: grid;
        gap: 1rem;

        li:first-child {
            grid-column-start: 2;
        }

        li.filled {
            color: var(--clr-secondary);
        }

        li:not(:nth-child(1)):not(:nth-child(3)):not(:last-child) {
            opacity: 0;
        }

    }
}