:root {
    color-scheme: only light !important;
}

@import "./globals/variables.scss";

@import "tailwindcss/base";
@import "tailwindcss/components";

@import "./components/Chapter.scss";
@import "./components/Tooltip.scss";
@import "./components/Modal.scss";
@import "./components/Dialogue.scss";
@import "./components/MultipleChoice.scss";
@import "./components/Task.scss";
@import "./components/Game.scss";
@import "./components/Unlock.scss";

@import "tailwindcss/utilities";

@layer components {

    .button-normal {
        @apply flex gap-2 h-10 min-w-10 px-2 text-sm tv:px-4 tv:gap-4 tv:h-14 tv:min-w-14 tv:text-lg items-center justify-center cursor-pointer bg-bke-purple tracking-wider transition xl:hover:shadow-hover disabled:pointer-events-none disabled:opacity-20;
    }

    .less-focused {
        @apply opacity-40 hover:opacity-100;
    }

}



#app[data-view="lobby"],
#app[data-view="age-category"] {

    #home-button,
    #toggle-settings {
        display: none;
    }
}


#app[data-view="chapter"],
#app[data-view="task-description"] {

    #logout-button,
    #login-button,
    #toggle-languages {
        display: none;
    }

    #home-button {
        display: grid;
    }
}

#app[data-view="game"] {

    #home-button,
    #logout-button,
    #login-button,
    #toggle-languages,
    #toggle-music,
    #toggle-settings {
        display: none;
    }
}

body.bcc_member {
    .chapter-status {
        display: block;
    }
}

.intercom-namespace .intercom-messenger-frame {
    right: var(--app-padding) !important;
}

.chapter-progress {
    @apply w-[480px] flex relative mb-8;

    progress {
        @apply absolute top-2 left-0 w-full h-8 border-2 bg-white/20 p-1.5 rounded-full;
    }

    progress::-moz-progress-bar {
        @apply overflow-hidden rounded-full;
    }

    progress::-webkit-progress-bar {
        @apply overflow-hidden rounded-full bg-white/20;
    }

    progress::-webkit-progress-value {
        @apply bg-bke-blue transition;
    }

    svg {
        @apply ml-auto h-12 drop-shadow-lg;
    }

    ul {
        @apply w-full flex justify-end;

        li {
            @apply flex-1;
        }

        li.filled {
            @apply text-bke-orange;
        }
    }
}

.celebrate {
    position: absolute;
    inset: 0;
    z-index: 99;
    pointer-events: none;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.alert {
    .container {
        position: absolute;
        top: var(--app-padding);
        left: var(--app-padding);
        background-color: #fff;
        padding: var(--app-padding);
        border-radius: 1rem;
        width: 40ch;
        z-index: 99;

        display: flex;
        align-items: center;
    }

    .overlay {
        position: absolute;
        inset: 0;
        background: var(--gradient-dark);
        z-index: 98;
        opacity: 0.6;
    }

    p {
        color: var(--clr-text);
    }

    [aria-label="close alert"] {
        flex-shrink: 0;
        margin-left: 1rem;
    }

}

/* Loader Styles */
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid theme('colors.bke.orange');
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    /* or absolute */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}


// Masks

.mask-image {
    mask-repeat: no-repeat;
    mask-size: contain;
}

#top-left-screen .mask-image {
    mask-image: url('../../static/frames/Screen_4_mask.png');
}

#top-mid-screen .mask-image {
    mask-image: url('../../static/frames/Screen_3_mask.png');
}

#helper-screen .mask-image {
    mask-image: url('../../static/frames/Screen_2_mask.png');
}

#main-screen .mask-image {
    mask-image: url('../../static/frames/Screen_1_mask.png');
}

#videos-container .video-js .vjs-control-bar {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    height: 4.5em;
}

#videos-container .video-js .vjs-tech {
    padding: 2%;
}

// Buttons

.button-cube {
    position: relative;
    display: grid;
    place-content: center;
    height: 48px;
    width: 48px;
    background-image: url('../../static/interface/B_cube_active.png');
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: auto;
    cursor: pointer;

    &:hover {
        background-image: url('../../static/interface/B_cube_action.png');
    }

    &:disabled {
        background-image: url('../../static/interface/B_cube_innactive.png');
        cursor: not-allowed;
    }
}

.button-circle {
    position: relative;
    display: grid;
    place-content: center;
    height: 48px;
    width: 48px;
    background-image: url('../../static/interface/B_circle_active.png');
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: auto;
    cursor: pointer;

    &[currentCheckpoint] {
        background-image: url('../../static/interface/B_circle_action.png');
    }

    &:hover {
        background-image: url('../../static/interface/B_circle_action.png');
    }

    &:disabled {
        background-image: url('../../static/interface/B_circle_innactive.png');
        cursor: not-allowed;
    }
}

.button-arrow {
    position: relative;
    display: grid;
    place-content: center;
    aspect-ratio: 293/201;
    height: 48px;
    background-image: url('../../static/interface/arrow_active.png');
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: auto;
    cursor: pointer;


    span {
        position: absolute;
        bottom: -0.5em;
        right: 50%;
        font-size: 1rem;
        text-transform: uppercase;
    }

    &.skip-video {
        position: absolute;
        top: 24px;
        right: 24px;
    }

    &:hover {
        background-image: url('../../static/interface/arrow_action.png');

        span {
            color: var(--clr-secondary)
        }
    }

    &:disabled {
        background-image: url('../../static/interface/arrow_innactive.png');
        cursor: not-allowed;
    }
}