html {
    font-family: var(--ff-primary);
    font-size: calc(15px + 0.390625vw);
    color: var(--clr-text);
}

body {
    overflow: hidden;
}


button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    color: #fff;
}

button,
input {
    /* 1 */
    overflow: visible;
}

button,
select {
    /* 1 */
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
}

button,
a {
    transition: var(--transition-duration) var(--transition-timing);

}

textarea {
    resize: none;
}


h1,
h2,
h3,
h4 {
    color: var(--clr-secondary);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    color: #fff;
}


.lazyload {
    opacity: 0;
}

.lazyloading {
    opacity: 1;
    transition: opacity 300ms;
    // background: #f7f7f7 url('../../static/assets/loader.gif') no-repeat center;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

#webpack-dev-server-client-overlay {
    display: none !important;
}