@mixin icon($name) {
    @extend [class^="icon-"];
    @extend [class*=" icon-"];
    font-size: 0;
    color: #fff;

    @extend #{"." + $name};

    &::before {
        font-size: 1.2rem;
    }
}

@mixin fixed() {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

@mixin overlay() {
    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $gradient;
        opacity: 0.8;
        pointer-events: none;
    }
}

@mixin setBackground($name) {
    background-image: url($name);
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin alignCenterVH($direction: false) {
    display: flex;
    align-items: center;
    justify-content: center;

    @if $direction {
        flex-direction: column;
    }
}

@mixin wrapper($spacing-sides: 2rem) {
    color: #fff;
    background: $gradient;
    border: 4px solid $accent;
    border-radius: 1rem;
    padding-block: 2rem;
    padding-inline: $spacing-sides;
}

@mixin extras($spacing: 18rem) {

    &::after,
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: calc(100% - #{$spacing});
        min-height: 96px;
        width: 1rem;
        background: $accent;
        pointer-events: none;
        z-index: 1;
    }

    &::after {
        right: -1px;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    &::before {
        left: -1px;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}

@mixin extras-bottom($width) {

    &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: -1px;
        background: $accent;
        height: 1.5rem;
        width: $width;
        border-top-right-radius: 1.5rem;
        border-bottom-left-radius: 0.5rem;
        pointer-events: none;
        z-index: 1;
    }

    @media (max-width: 1680px) {
        &::after {
            height: 1rem;
        }
    }
}

@mixin pulsate() {
    @keyframes pulse-ring {
        0% {
            transform: scale(.33);
        }

        80%,
        100% {
            opacity: 0;
        }
    }

    @keyframes pulse-dot {
        0% {
            transform: scale(.8);
        }

        50% {
            transform: scale(1);
        }

        100% {
            transform: scale(.8);
        }
    }

    &:before {
        content: '';
        position: relative;
        display: block;
        width: 300%;
        height: 300%;
        box-sizing: border-box;
        margin-left: -100%;
        margin-top: -100%;
        border-radius: 50%;
        background: var(--clr-secondary);
        animation: pulse-ring 1.25s var(--transition-timing) infinite;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: white;
        border-radius: 50%;
        box-shadow: 0 0 8px rgba(0, 0, 0, .3);
        animation: pulse-dot 1.25s var(--transition-timing) infinite;
    }
}

@keyframes pulsate-shadow {
    0% {
        box-shadow: 0 0 0 0 rgba($accent2, 0.6);
    }

    70% {
        box-shadow: 0 0 0 1rem rgba($accent2, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba($accent2, 0);
    }
}

@mixin for-size($size) {
    @if $size ==phone-only {
        @media (max-width: 599px) {
            @content;
        }
    }

    @else if $size ==tablet-portrait-up {
        @media (min-width: 600px) {
            @content;
        }
    }

    @else if $size ==tablet-landscape-up {
        @media (min-width: 900px) {
            @content;
        }
    }

    @else if $size ==desktop-up {
        @media (min-width: 1200px) {
            @content;
        }
    }

    @else if $size ==big-desktop-up {
        @media (min-width: 1800px) {
            @content;
        }
    }
}