:root {

    --clr-primary: rgb(3, 150, 227);
    --clr-secondary: rgb(252, 176, 78);
    --clr-text: rgb(62, 48, 109);

    --bg-default: rgb(62, 48, 109);
    --bg-dark: rgb(12, 10, 22);
    --bg-with-opacity: rgba(62, 48, 109, 0.8);

    --gradient-dark: linear-gradient(90deg, var(--bg-dark), var(--bg-default));

    --ff-primary: 'Ubuntu', sans-serif;
    --ff-secondary: 'Source Sans Pro', sans-serif;

    --app-padding: 1rem;
    --app-border-size: 0.15rem;
    --app-alpha: 0.8;
    --app-button-size: 2.5rem;

    --transition-timing: cubic-bezier(0.23, 1, .32, 1);
    --transition-duration: .3s;

}