:root {

    --clr-primary: theme(colors.bke.blue);
    --clr-secondary: theme(colors.bke.orange);
    --clr-text: theme(colors.bke.purple);

    --bg-default: theme(colors.bke.purple);
    --bg-dark: theme(colors.bke.darkpurple);
    --bg-with-opacity: theme(colors.bke.purple);

    --gradient-dark: linear-gradient(90deg, var(--bg-dark), var(--bg-default));

    --ff-primary: 'Source Sans Pro', sans-serif;

    --app-padding: 1rem;
    --app-border-size: 0.15rem;
    --app-alpha: 0.8;
    --app-button-size: 2.5rem;

    --transition-timing: cubic-bezier(0.23, 1, .32, 1);
    --transition-duration: .3s;

}